body {
background-color: rgb(121, 29, 121)

}


form {
    margin-top: 10%;
    

}
 label {
    color: white;
 }
.desenho {
width: 20px;
height: 20px;
margin-bottom: 93%;
position: relative;
}
.btn {
    color: aliceblue;
    width: 40%;
    font-size: 20px;
    position: relative;
    text-align: center;
}
.botao{
    
    margin-top: 30px;

}